[2020-05-20 15:34] stephen-cox opened #5 "Do we want to commit the compiled assets?"
Croydon don't commit the complied assets, but this will add an extra build step and requires that the environment has node 10 with Gulp installed.

I think it's probably better to commit the compiled assets, but I have git ignored them for the time being.

[2020-05-20 15:46] stephen-cox opened #6 "Theme has locked versions of node packages with known security issues"
GitHub is reporting that some of the node packages are old and have security issues. We should upgrade these.

[2020-05-20 15:48] stephen-cox opened #7 "Remove dependency on bhcc_helper.current_page service"
Many of the preprocess files in the localgov_theme.theme file load the current URL from the bhcc_helper.current_page service. This needs to be reviewed and the either the service moved to localgov_core or the current page will need to be looked up another way.

[2020-05-20 15:49] stephen-cox opened #8 "Remove Croydon logos and fonts from the theme"
As part of this we should consider adding a default LocalGovDrupal logo.svg file to the theme.

[2020-05-21 08:24] ekes commented on #7
Wouldn't it make sense just to put the few relevant lines into the appropriate preprocess templates?

I copied the get node from route stuff into a base class of the Blocks that get generated for services https://github.com/localgovdrupal/localgov_services/commit/4bc6fbd3c52d53c36f7c65ee41d6d85a152585b2#diff-2b1c603abc6b7b97de9336b57e7a0835R53 This is the most complicated one and it's only a few l

[2020-05-21 12:20] stephen-cox opened #9 "Add a base theme"
Not having a base theme is now deprecated. See https://www.drupal.org/node/3066038

[2020-05-21 14:32] stephen-cox commented on #7
Agreed - I have done something similar: https://github.com/localgovdrupal/localgov_theme/blob/master/localgov_theme.theme#L19

[2020-05-21 14:32] #7 closed

[2020-05-21 14:48] stephen-cox commented on #9
I've added the `stable` base theme. We can review whether we want to use a more fully featured base theme late on.

[2020-05-21 14:48] #9 closed

[2020-05-22 09:43] finnlewis commented on #5
I agree that compiled assets should be committed for an initial install. Makes sense for people to be able to see something nice when the fire it up.

[2020-05-26 08:39] ekes opened #11 "Review localgov_services_landing_preprocess_node"
<a href="https://github.com/ekes"><img src="https://avatars3.githubusercontent.com/u/237186?v=4" align="left" width="96" height="96" hspace="10"></img></a> **Issue by [ekes](https://github.com/ekes)**
_Monday May 18, 2020 at 10:33 GMT_
_Originally opened as https://github.com/localgovdrupal/localgov_services_private/issues/14_

----

Why is it putting field values into the variables available to t

[2020-05-26 16:36] stephen-cox opened #12 "Status message Twig template calls getStatusMessageWrapperClass which is part of bhcc_helper"
This seems to add a custom class depending on the status of the message. If this is needed it should be ported to localgov_core. If not the template and anywhere else that calls it needs to be refactored.

[2020-05-26 16:38] ekes commented on #12
It only seems to be used there?

It also is just doing a string for string replacement. A lookup basically. Is there a more `Twig` way of doing this?

[2020-05-26 16:45] ekes commented on #12
Grepping through the croydon code I only see this class and this method used in this template.
Also the second method getStatusMessageIconClass doesn't seem to be used at all.

[2020-05-26 16:48] #12 closed

[2020-05-27 08:11] #5 closed

[2020-05-28 14:29] stephen-cox opened #14 "Set default header and footer"
We should remove the Croydon specific sections in the page templated and add regions for displaying header and footer blocks.

[2020-05-28 14:29] stephen-cox opened #15 "Move services node templates into module files"
To include:
 - preprocess functions

[2020-05-29 16:03] stephen-cox opened #16 "Display page title on pages across the site"

[2020-06-02 13:42] stephen-cox commented on #16
The node title block is part bhcc_helper. There's also a taxonomy title block, but we're not addressing those yet. Will port the node title block to localgov_core and enable it by default here: localgovdrupal/localgov_core/issues/4

[2020-06-03 10:19] #16 closed

[2020-06-04 11:17] stephen-cox opened #17 "Review tooling and asset compiling"
We want to leave compiled assets in the theme so that the site looks okay when the site is initially installed.
At the moment gulp compiles assets in the `src` directory and puts them in a `dist` directory. Does this sort of layout make sense if we're committing compiled assets; it seems to be duplicating fonts, images and JS files.
Perhaps it would be easier to have a `sass` directory and use gul

[2020-06-04 11:23] stephen-cox opened #18 "Clean up Twig template files and related css and preprocess functions"
I suggest the theme should only contain a minimal set of template files. Modules can contain basic templates for the page elements they provide; e.g. node, paragraphs, etc. It then becomes the responsibility of child themes to override templates.

With this in mind, what sort of classes do we want to support? The theme uses elements from Bootstrap. Do we want to support Bootstrap layout classes no

[2020-06-04 11:51] stephen-cox opened #19 "What layouts do we want to standardise on?"
Looking at the Croydon and BHCC sites they appear to either use a single full-width main content area or a main content area with a right-hand sidebar.

Are there any pages using a left-hand sidebar? If not we could drop the sidebar_fist and sidebar_second content areas and  create a single sidebar_right content area.
We could then default set a default page template with a right-sidebar and allow

[2020-06-04 12:26] stephen-cox opened #20 "Add Font Awesome to the theme"
Font Awesome is used for icons but these are all broken because the font files aren't being loaded.
Should we commit the font files or use a CDN?

[2020-06-04 12:28] stephen-cox opened #21 "Remove override.css"
This file just seems to be a collection of CSS tweaks targetting Croydon specific markup. If things are relevant to a generic theme they should be moved into the appropriate SASS file.

[2020-06-04 12:33] andybroomfield commented on #19
There are blocks defined for sidebar first on BHCC.
News search page block
https://new.brighton-hove.gov.uk/news/search?keys=test
and a directory entry
https://new.brighton-hove.gov.uk/directories/special-educational-needs-and-disability-support/amaze

Generally a good idea to keep themes flexible, left sidebars are a reasonably common feature on websites. Most Drupal themes use a conditional if t

[2020-06-04 12:36] andybroomfield commented on #20
I think we use CDN, though an option to override or fallback would be nice.
We actully use the [fontawesome module](http://drupal.org/project/fontawesome) to handle this.

[2020-06-05 10:43] stephen-cox commented on #19
Thanks @andybroomfield I will assume a 3 column layout and see if we can set this so that the appropriate grid classes are added depending whether the sidebars have any content.

Limiting the width of a single full width column is an interesting problem because there will be landing pages which have no sidebar content but need to fill be full width and there are text pages that it's desirable not

[2020-06-05 11:01] #14 closed

[2020-06-09 12:10] cjstevens78 commented on #20
The CDN link for font awesome (https://use.fontawesome.com/releases/v5.8.2/css/all.css) is controlled via admin in this location admin > config > content > fontawesome but this isnt showing in my localgov instance so perhaps the module Andy mentions above needs to be enabled?

[2020-06-09 12:20] stephen-cox commented on #20
The Font Awesome module has not been installed. Is there a good reason for using this module over just adding the CDN and/or font files to a library in the theme?

If we decide to use the module it will need adding as a dependency to the localgov_core module.

[2020-06-09 12:26] cjstevens78 commented on #21
There's some rogue bits and bobs in here that i'll split out into sass however, at the top of this file we have styling that relates to the 'admin' section of the site, mainly for styling the page editing toolbar. Seeing as this doesnt relate to the theme I wonder if its possible to extract this entirely from the theme folder and place its somewhere else?

[2020-06-09 12:40] stephen-cox commented on #21
I think the plan is to have our own admin theme; even if this is just a sub-theme of Claro with some tweaks. There's an issue with not a lot on it for this here: https://github.com/localgovdrupal/localgov/issues/20

[2020-06-09 19:51] cjstevens78 commented on #21
I have remembered why we had that styling in there for admin .. the 'block' that the toolbar sits inside can only be targeted by the ID it is given which outputs differently for each instance of the site... for example the croydon one has the ID 'block-croydon-local-tasks' whereas the one for localgov is 'block-localgov-theme-local-tasks' ... I would suggest we include a custom class and target th

[2020-06-09 23:05] andybroomfield commented on #21
We have this in BHCC too. Its mostly for the local tasks which has been a long bug bear for when we set up micro sites with a child theme.
I think it originally came about as the BHCC site has a separate mark up repo and Drupal specific styles got added here.

[2020-06-09 23:30] andybroomfield commented on #20
Its used for home page icons on BHCC site (and Croydon I assume) to allow content editors to decide which icons to use and some extra settings.

<img width="1110" alt="Screenshot 2020-06-10 at 12 28 12 am" src="https://user-images.githubusercontent.com/1467480/84210784-89706800-aab1-11ea-9a5a-473c18902251.png">

I would suggest if the CDN is the preferred route to check if the module is enabled fi

[2020-06-10 14:40] finnlewis opened #24 "Styling of tabs - as default or at the bottom of content nodes?"

[2020-06-10 14:42] finnlewis opened #25 "Styling services pages"
Issue to track styling wash of all services pages and field components.

[2020-06-10 15:07] finnlewis opened #26 "Chris and Dave to chat about consistency of design > theme coupling of Bootstrap"

[2020-06-11 11:29] stephen-cox commented on #20
From our discussions yesterday it seems the Drupal Font Awesome Icons module (https://www.drupal.org/project/fontawesome) will be a requirement for quite a bit of upcoming stuff. This being the case, it should be enabled and configured in the localgov_core module.

I've added an issue for this here: https://github.com/localgovdrupal/localgov_core/issues/13

[2020-06-12 10:49] stephen-cox commented on #17
@cjstevens78 Just flagging this as something we should resolve sooner rather than later. If we re-organise the theme layout once a number of people are working on the theme it could cause serious problems.

My proposal is to remove the `/src' and '/dest' directories and move their contents in the root of the theme, so the theme would look like:
- '/css' - compiled SASS
- '/fonts' - any fonts - alt

[2020-06-12 15:34] #15 closed

[2020-06-12 15:53] cjstevens78 commented on #26
I spoke with Dave. He has written a 'why we chose bootstrap' section in the croydon design system here: https://new.croydon.gov.uk/design-system/front-end-framework/bootstrap-css-framework ... he is also going to look into how best to distribute his 'base responsive accessible templates' he setup which are a set of templates that purely set out the layout of each template without any 'design' invo

[2020-06-12 16:38] cjstevens78 opened #31 "Remove all Croydon colours from the theme"
Some of this work has been done however, there are various instances throughout where colour variables are declared by their colour rather than something relating to their usage. for example: .block {background: $red;} would become .block {background: $block-background;}

[2020-06-13 14:53] stephen-cox commented on #25
This issue is blocked until this pull request is resolved: https://github.com/localgovdrupal/localgov_services/pull/48

[2020-06-15 07:49] finnlewis commented on #25
PR https://github.com/localgovdrupal/localgov_services/pull/48 has now been merged.

[2020-06-15 16:23] andybroomfield opened #32 "References to BHCC library in theme"
There are references to BHCC libraries within the theme that are causing failures.
eg. in misc/eck-entity--alert-banner.html.twig has
[code]
Whilst long term aim is to move these into modules, we should remove references / change them to localgov equivilents in the short term.

[2020-06-15 17:09] andybroomfield commented on #18
I think the only requirement is the bootstrap grid for layout in the template files.
A compromise would be to include the grid css as a library in localgov_core and then unset it if the theme is present (or make it a checkbox option in settings) so that bootstrap themes don't get the grid, but non bootstrap ones do.

[2020-06-16 12:24] stephen-cox commented on #8
Closed with https://github.com/localgovdrupal/localgov_theme/pull/29

[2020-06-16 12:24] #8 closed

[2020-06-16 12:25] stephen-cox commented on #21
Closed with https://github.com/localgovdrupal/localgov_theme/pull/29

[2020-06-16 12:25] #21 closed

[2020-06-17 11:12] stephen-cox commented on #17
As part of this we also want to clean-up the libraries file [1] as there's stuff there which has been removed (font-face.css) or isn't being installed because we're adding compiled assets to the theme (bootstrap.min.js).

[1] https://github.com/localgovdrupal/localgov_theme/blob/master/localgov_theme.libraries.yml

[2020-06-17 13:59] #20 closed

[2020-06-17 14:26] stephen-cox commented on #17
@cjstevens78 I'm planning on taking a look at this tomorrow unless you've already started? It will likely cause problems with any changes you're making to assets to let me know if this is going to be a problem.

[2020-06-17 14:52] cjstevens78 commented on #17
@stephen-cox sure no problem - i had got as far as creating a branch for it which i have pushed 17-theme-asset-compiling but hadnt actually started anything.. ill hold off on anything asset related for now

[2020-06-17 15:23] stephen-cox commented on #17
OK - thanks @cjstevens78 - I will look at it now and pass it to you for review

[2020-06-17 15:30] stephen-cox opened #35 "Review Croydon Bootstrap documentation"
There are a number of PDFs that contain Croydon specific styling information; https://github.com/localgovdrupal/localgov_theme/tree/master/documentation

Are these needed? If so, they should be rewritten for a generic theme.

[2020-06-18 10:19] stephen-cox commented on #25
Elements are now all displaying and there's default content for this in the localgov_demo module, so the styling is ready for tidying up.

[2020-06-19 07:39] #17 closed

[2020-06-19 13:54] cjstevens78 commented on #24
This was dealt with as part of the removal of the override.css ... an '_admin.scss' file has been added to the theme that formats the tabs into a toolbar style at the bottom of the page.

[2020-06-19 14:21] cjstevens78 commented on #6
@stephen-cox I have updated the package-lock.json and package.json files here: https://github.com/localgovdrupal/localgov_theme/commit/48e2915604f147f6ce7477e4ddf790e486df2acf

[2020-06-24 09:46] cjstevens78 commented on #25
Quick write up of issues I had getting the services content to show up in my local via the localgov_demo module and the steps taken thanks to @stephen-cox

I enabled the module using

[code]

This brought up an SQL error about ‘duplicate keys’

I then did a wipe and reimport using

[code]

The content still didnt show after this so I ran

[code]

The content still didnt show … at this point I swit

[2020-06-24 13:41] #25 closed

[2020-06-24 13:50] finnlewis commented on #19
Also related: https://github.com/localgovdrupal/localgov_theme/issues/18

[2020-06-24 13:51] #19 closed

[2020-06-24 13:52] #24 closed

[2020-07-02 12:55] stephen-cox opened #38 "Upgrade Gulp to v4"
The theme uses Gulp v3 to compile assets. This contains security issues, but the upgrade to v4 requires changes to `gulpfile.js`.

[2020-07-02 13:11] stephen-cox opened #39 "Resolve SASS linting errors"
When running `gulp build` we lint the `assets/scss` dir which shows lots of errors. If we're going to lint the SASS let's ensure that we conform with the the linting rules.
We should also confirm that the linting rules are Drupal standards compliant

[2020-07-02 13:24] #6 closed

[2020-07-17 15:43] danchamp commented on #39
A lot of the errors are due to indentation, use of px as a unit (it's not in the .stylelintrc unit-whitelist), and declaration of colours using hex values (disallowed in

[2020-07-17 15:55] danchamp commented on #39
The current stylelint rules are tight, and a lot of the errors are due to these two rules:

1. No hex colour values allowed:
https://github.com/localgovdrupal/localgov_theme/blob/c77a839db0f9913f65cfcf288fe3f0703222c16c/.stylelintrc#L19

2. px not in the unit whitelist:
https://github.com/localgovdrupal/localgov_theme/blob/c77a839db0f9913f65cfcf288fe3f0703222c16c/.stylelintrc#L26

[Drupal CSS guid

[2020-07-17 16:09] cjstevens78 commented on #39
We use a mixin that converts a supplied px value into rem with a px fallback, the lint rule to flag the use of px is to pick up on any direct usage of px and steer the dev in the direction of implementing it using the mixin. For the hex values, all colour declarations should be made in the _variables.scss file as a hex value and declared throughout by the variable name not the hex value. The linte

[2020-07-17 18:12] danchamp commented on #39
Thanks @cjstevens78 it makes more sense now, and I can make a start fixing some of the errors.

[2020-07-20 15:14] #39 closed

[2020-07-22 14:17] finnlewis opened #45 "Skeleton base theme as common ancestor"
Issue to track creation of a 'skeleton' base theme.

From meeting with Microserve and tech team, Microserve poated this doc:

https://docs.google.com/drawings/d/1n1vJ-vFgKZU-S5elK4S6WcAR5BWfwxPugee3xRKT0dU/edit

In sprint planning, we agreed to try this approacch, althogh we note that we're not too sure what will end up in the skeleton theme.

Sugegsted name: localgov_skeleton

To include: not muc

[2020-07-22 14:23] #31 closed

[2020-07-22 14:31] finnlewis commented on #18
Discussing this in sprint planning, probably good to discuss and review with @stephen-cox @cjstevens78  initially to confirm who's doing what.

[2020-07-23 15:13] finnlewis commented on #45
Hi @robhmicroserve !

Just copying you into this issue... we discussed in our sprint planning and @cjstevens78 is planning to get this in place this sprint, perhaps with some input from @stephen-cox

Initially I think we'll just keep it simple for starters, as we're not sure what the most valuable commonality (preprocess / layouts / some templating? ) will be.

Do share any thoughts you have on th

[2020-08-04 15:33] #18 closed

[2020-08-04 16:21] stephen-cox commented on #45
@cjstevens78 There's now a skeleton base theme: https://github.com/localgovdrupal/localgov_skeleton

We will want to review what should move into it. My initial thoughts are not a lot. We may want to move the HTML and page Twig templates and any related preprocess functionality, but as things stand these will need editing to remove any Bootstrap layout classes.

The [feature/45-use-skeleton-theme]

[2020-08-04 18:52] #45 closed

[2020-08-05 11:20] #26 closed

[2020-08-05 14:33] willguv opened #51 "[4d] Create LocalGov Drupal default theme"

[2020-08-05 14:34] willguv commented on #51
- [ ] Review the templates to check for inconsistencies eg bootstrap classes

[2020-08-11 13:12] willguv opened #52 "[0.5d Chris] Remove transitions from expanding/ collapsing content"
Design Dave wrote:

As a rule of thumb we should not use transitions when collapsing / expanding content.

It's heavier to load and not good for accessibility.

We can use this general class:
.collapsing {
-webkit-transition: none;
transition: none;
display: none;
}

There may be some custom transitions like on the services menu that need to be removed.

[2020-08-12 13:02] willguv opened #53 "Stop Services menu expanding on page load"
Design Dave wrote

Is there anything we can do to stop the services menu loading expanded?

It's especially bad on mobile, it appears for a second then disappears on page load

See movie at https://trello-attachments.s3.amazonaws.com/5dd86a55299fe76799b1ab90/5f0f170f2cfb982a9b9708d1/0be5e464aad925ecaa044f36727292bb/movie.mp4

[2020-08-12 13:15] willguv opened #54 "[0.5d Chris] Skip to main content link not working as expected"
1) When using a screen reader and navigating by keyboard, skip to main content appears after the cookie bar in the flow of the document. This is incorrect it should appear as the first item on the page and allow you to skip past the cookie bar, navigation, alert, big bang etc straight to the h1 in main

Ref: gov.uk

2) Skip to main content is not working correctly on some page templates.

See atta

[2020-08-12 13:17] willguv commented on #54
![Screenshot_2020-07-15_at_18 02 31](https://user-images.githubusercontent.com/708140/90019623-97f02100-dca6-11ea-8803-0cca32b4919d.png)
![Screenshot_2020-07-15_at_18 03 03-1](https://user-images.githubusercontent.com/708140/90019632-9aeb1180-dca6-11ea-9c2a-642773d1afbc.png)
![Screenshot_2020-07-15_at_17 56 39](https://user-images.githubusercontent.com/708140/90019638-9b83a800-dca6-11ea-9752-c14b0

[2020-08-12 13:20] willguv opened #55 "Make sure Croydon breakpoints YAML is in LGD default theme"
@Adnan-cds wrote previously

As part of Responsive image configuration, I had add a YAML file that lists the available breakpoints. Drupal reads this file and allows us to use different types of images for different breakpoints. I have added this file to the "croydon" theme. So the Drupal configuration files now expect the "croydon" theme to be around for this functionality to work. The Brighton s

[2020-08-12 13:23] willguv opened #56 "Change naming convention for Start buttons on Service page"
The new generic start button markup https://lbc-app-w-corpwebsite-p.azurewebsites.net/design-system/start-button.

Should be applied to this template https://lbc-app-w-corpwebsite-p.azurewebsites.net/adult-health-and-social-care.

Removing the btn-green naming convention. Not good for code sharing

[2020-08-12 13:26] willguv commented on #56
<img width="963" alt="Screen_Shot_2020-04-15_at_16 06 27" src="https://user-images.githubusercontent.com/708140/90020486-d508e300-dca7-11ea-988e-478faf27dd0c.png">
<img width="555" alt="Screen_Shot_2020-04-15_at_16 06 36" src="https://user-images.githubusercontent.com/708140/90020489-d63a1000-dca7-11ea-8d1b-f59d5fa33a7f.png">
<img width="1086" alt="Screen_Shot_2020-04-16_at_12 56 48" src="https://

[2020-08-12 13:28] willguv opened #57 "[3d Chris timebox] Campaign tweaks - Implement - BREAK INTO CARDS"
BLOCKED https://github.com/localgovdrupal/localgov/issues/107

-----
See details on https://trello.com/c/dUN7Vklu

Too much to move over!

[2020-08-12 13:30] willguv opened #58 "Check if colorway styling is present on LGD or needs extra code"
BLOCKED needs more help from Brighton Andy Broomfield

--------
The Campaign overview page isn't using the values of the two colorway fields.  But it works fine in the [Brighton site](https://new.brighton-hove.gov.uk/madeira-terrace-restoration) where classes are added to the "body" field based on the values of the colorway fields.  Andy Broomfield has provided us the relevant code.  We need to ad

[2020-08-12 13:50] andybroomfield commented on #58
I thought what we intended to do was for campaigns to implement a way for a theme to declare what colourways it supports and then @Adnan-cds had a technique that added the correct classes into the body class.

[2020-08-12 14:58] Adnan-cds commented on #58
I am linking to [the pull request](tps://github.com/bhccwebmaster/bhccdirectories-campaigns/pull/45) @andybroomfield mentioned above.

[2020-08-12 15:05] Adnan-cds commented on #55
The LocalGov theme already has a [breakpoint definition file](https://github.com/localgovdrupal/localgov_theme/blob/master/localgov_theme.breakpoints.yml), so this may have already been taken care off.

The localgov_media module also provides a similar [breakpoint definition](https://github.com/localgovdrupal/localgov_core/blob/master/modules/localgov_media/localgov_media.breakpoints.yml) which wi

[2020-08-19 13:29] willguv opened #59 "Reinstate the Design System as a module?"
Discussion with Stephen and Ekes

https://new.croydon.gov.uk/design-and-content-guidelines/bootstrap-4-theme

@andybroomfield suggests a separate module that councils can install or not

@clearspotmedia says the content changes a lot, and it might be difficult to keep up to date

@cjstevens78 suggests that we might be able to strip content back to only the essential components

[2020-08-19 13:51] willguv commented on #58
@cjstevens78 and @stephen-cox - can you have a chat about this? Thanks

[2020-08-24 14:05] cjstevens78 commented on #56
Changes for this have been made see : https://github.com/localgovdrupal/localgov_services/pull/74 & https://github.com/localgovdrupal/localgov_services/pull/73

[2020-08-24 14:26] cjstevens78 commented on #55
I have looked at this and would suggest that the theme breakpoint yaml file https://github.com/localgovdrupal/localgov_theme/blob/master/localgov_theme.breakpoints.yml @Adnan-cds mentions is sufficient. Suggest we just ask @stephen-cox to give this the once over and then close.

[2020-08-24 15:54] cjstevens78 commented on #54
@willguv the localgov project currently doesnt have the cookie module which has blocked any progress with this. @Adnan-cds has suggested it would be straightforward to add in the one from Croydon but obviously that will need to be added to his workload if it is required.

[2020-08-24 17:09] Adnan-cds commented on #54
The position of the cookie popup is actually dictated by the [EU Cookie compliance module](https://www.drupal.org/project/eu_cookie_compliance).  You can tell it to place the Cookie consent popup at the top or the bottom of the page.  This module even has a Screen-reader friendly option which, again, places the Cookie consent popup at the top of the page.  The idea being that you should be aware o

[2020-08-25 08:43] cjstevens78 commented on #53
This turned out to be the the services menu for desktop flashing up as the mobile menu loaded. I set it to be initially hidden and that fixed the problem. This has been checked in under issue #51

[2020-08-25 11:03] stephen-cox commented on #55
The breakpoints definition in the theme and localgov_media module should be enough for responsive images to work as long as the image definitions are only kept in the theme and media module. Both the theme and media module are meant to be optional; in that a full LocalGov install will use them, but someone using a non-core module (e.g. Campaigns, Guides, Step by step), shouldn't be forced to insta

[2020-08-25 13:03] cjstevens78 commented on #52
I have removed the transitions. The changes have been committed as part of  feature/51-default-theme

[2020-08-26 11:18] willguv commented on #57
Two back end jobs in campaigns
- [ ] select style of banner
- [ ] adding logo to banner

@stephen-cox can you help, @cjstevens78 has details

-----
Separately, we need homepage to be complete on LGD in order to unpick dependency with campaigns

[2020-08-26 11:22] willguv opened #61 "Make header and footer content managed - FIND CROYDON CARD"

[2020-08-26 11:37] willguv commented on #54
@Adnan-cds please write the code to cover off councils who set cookie bar to top - thanks

We agreed that this code lives in the LGD theme

[2020-08-27 08:51] stephen-cox commented on #57
@cjstevens78 If you can provide specs for this I can look at it, but don't have much time for dev work until Agile Collective rejoin the sprints after next week.

[2020-09-02 12:46] cjstevens78 commented on #57
@stephen-cox specs as follows:

We need to add the ability for the user to select a style of banner from two base options that can be configured further:

1/ Full width banner with optional logo - **centered** (full width background image with centered header text and optional logo) or **left aligned** (full width background image with left aligned header text and optional logo)
2/ Boxed off - (no

[2020-09-04 12:11] willguv opened #62 "Homepage styling"

[2020-09-04 12:38] willguv commented on #57
@cjstevens78 port over styling and we'll discuss full width/ boxed off toggle on Weds 9th

[2020-09-04 12:44] willguv commented on #54
@Adnan-cds I'm assuming this is not started - can you confirm? Thanks

[2020-09-04 14:23] Adnan-cds commented on #54
That's right.  I haven't done anything on this.

@willguv @cjstevens78

[2020-09-07 11:55] cjstevens78 commented on #51
the following pull request relating to this ticket has been merged: https://github.com/localgovdrupal/localgov_theme/pull/60

[2020-09-07 18:54] willguv commented on #51
@cjstevens78 has this been deployed?

Can't see theming at https://localgovdrupal.agile.coop/schools/find-school/primary-infant-and-junior-schools

Thanks

[2020-09-08 10:07] willguv commented on #51
@stephen-cox could you deploy this to UAT - thanks!

[2020-09-08 11:17] willguv opened #64 "Design Dave feedback on LocalGov Drupal theme"
@clearspotmedia and @cjstevens78 here's a card for you to discuss minor tweaks to the LGD default theme

[2020-09-08 11:19] willguv opened #65 "Design Dave document font awesome icons currently used in the Croydon Theme"

[2020-09-08 11:48] willguv opened #66 "Select Campaign banner style"
@stephen-cox specs as follows:

We need to add the ability for the user to select a style of banner from two base options that can be configured further:

1/ Full width banner with optional logo - centered (full width background image with centered header text and optional logo) or left aligned (full width background image with left aligned header text and optional logo)
2/ Boxed off - (no backgro

[2020-09-08 12:00] clearspotmedia commented on #64
@cjstevens78 Here are some initial observations.
@willguv There's likely to be more when you've added directory content / more content so please let me know when that is in place.

Develop the font awesome icon page to show all the icons we have used

**Feedback on
https://localgovdrupal.agile.coop/**

1) Main navigation has an id **id="menu-purejs”**.
This is a legacy id from the old design syste

[2020-09-09 10:25] finnlewis commented on #54
Moving this back to in progress as Adnan is working on it.

[2020-09-09 17:02] Adnan-cds commented on #54
For reference, I have added the complete setup instructions in the [pull request](https://github.com/localgovdrupal/localgov_theme/pull/68#issuecomment-689693152)

[2020-09-11 08:01] cjstevens78 opened #70 "Issue with icon display in main theme on https://localgovdrupal.agile.coop/"
The font awesome icon display looks wrong when deployed to https://localgovdrupal.agile.coop/. Looks fine on my local instance but once in the test site there are widespread visual issues ... for example: icons in the footer touching text, social icons in the footer too small, services list chevrons misaligned and incorrect colour.

Ive not looked into this but some initial thoughts are that it co

[2020-09-11 11:26] #54 closed

[2020-09-15 16:36] finnlewis opened #71 "Trigger github workflow to run automated tests on pull requests"
It would be good to have the Github actions setup to run the tests.

[2020-09-17 09:40] cjstevens78 commented on #64
Changes for this are in branch origin/feature/64-theme-design-feedback
PR: https://github.com/localgovdrupal/localgov_theme/pull/74

Only thing to note is the 'missing sidebar' issues - needs discussion as im not sure how this is intended to work for localgov - also ive seen @Adnan-cds is doing something related to this area at the moment

[2020-09-17 22:57] andybroomfield opened #76 "Add documentation for how to create child theme"
Write up steps to build a child theme.
Based on what was needed to create [Localgov Theme BHCC](https://github.com/localgovdrupal/localgov_theme_bhcc).

----
1. Generate child theme, declaring parent theme with `base theme: localgov_theme` in `...info.yml`
2. Generate a libraries file `THEMENAME.libraries.yml` with the `global` css library theme key as `assets/css/lib/main.css: {}`
3. Copy the `as

[2020-09-17 23:02] andybroomfield opened #77 "Document how to update the styles in a child theme"
When generating a child theme (see #76) the current recommendation is to copy the entire `assets` folder.
This means that the full set of styles will now be provided by the child theme, ignoring any updates and fixes to styles in localgov_theme unless the authors of the child theme incorporate the new styles by re-coping the updated assets folder.

Is that the correct / desired approach? If so we

[2020-09-17 23:11] andybroomfield opened #78 "Create a localgov_theme_starterkit bundled with the theme"
Follow up to #76.
Some themes such as [Bootstrap Barrio](https://www.drupal.org/project/bootstrap_barrio) provide a starter kit theme to give a kick start on creating child themes.
(Eg. Copy the provided `themes/custom/localgov_theme/starterkit` and rename the required files) as a quicker way of getting a child theme up and running.

[2020-09-17 23:38] andybroomfield opened #79 "Add separate style variable for button text colour"
The button colour currently uses preset text colours.
When creating a child theme, it may be that colours used for button colours have too low contrast with the chosen button background colour, or may be that a different colour is desired.
This happened with creating the BHCC demo theme as the link buttons where using the secondary colour (orange) for the text and a blue for the button.

eg. In lo

[2020-09-17 23:41] andybroomfield opened #80 "Anchor link colour should have its own variable"
Currently, the theme uses the variable for the primary colour as the link colour, but this may be different for child themes.
It would be preferable to have a separate addressable variable.
In localgov_theme_bhcc this is done with
[code]

[2020-09-18 10:43] stephen-cox commented on #70
I see this problem on my local too.

It looks to be a problem with the Fontawesome module. As you mentioned in standup, changing the 'Font Awesome Method' to 'Web Fonts with CSS' fixes this.

The simplest solution would be to deploy some configuration to set this at install time. As the Fontawesome module is included with the localgov_paragraphs module we should add the a `fontawesome.settings.yml

[2020-09-18 11:11] cjstevens78 commented on #70
@stephen-cox yes i ended up in this YML file but was unsure if I was in the right place - ill amend it.

[2020-09-21 13:38] cjstevens78 commented on #80
I have amended this .. PR here: #81

[2020-09-21 14:49] gosia-mlynarczyk opened #82 "Update call out box template"
Three new fields were added to the Call out box paragraph (see: https://github.com/localgovdrupal/localgov_campaigns/issues/48), so the theme template needs to be updated to reflect those changes.

[2020-09-23 09:35] finnlewis commented on #51
Chris still has a little to finish on direcotries, but closing this in favour of a fresh ticket @cjstevens78

[2020-09-23 09:35] #51 closed

[2020-09-23 09:36] finnlewis commented on #53
Done!

[2020-09-23 09:36] #53 closed

[2020-09-23 09:37] finnlewis commented on #57
@willguv will write new cards for any outsatnding items.

[2020-09-23 09:37] #57 closed

[2020-09-23 09:42] finnlewis commented on #64
Moving to Sprint 10 for review, planning

[2020-09-23 09:51] #56 closed

[2020-09-23 09:51] #52 closed

[2020-09-23 09:52] #65 closed

[2020-09-23 10:44] cjstevens78 opened #84 "Sidebar issue"
Look into issue with theme requiring the sidebar to display next to 'main' irrespective of it having content

[2020-09-23 10:45] cjstevens78 opened #85 "Directories - Facets checkboxes"
The facets are being output as a list of links – croydon has fieldsets with checkboxes for the options and Show/Hide search filters option.

[2020-09-24 09:39] cjstevens78 commented on #85
For this issue: **3/ The facets are being output as a list of links – croydon has fieldsets with checkboxes for the options**

@Adnan-cds pointed me in the direction of the config for assets where I changed the type to 'checkboxes' however, this renders an empty unordered list to the page. Looking at the template for this web/modules/contrib/localgov_directories/templates/ - I dont see any html fo

[2020-09-24 13:36] #82 closed

[2020-09-28 09:00] cjstevens78 commented on #70
@stephen-cox can I just confirm, is this the location to add the config file : https://github.com/localgovdrupal/localgov_paragraphs/tree/master/config/install

[2020-09-28 11:07] stephen-cox commented on #70
Hi @cjstevens78 - as the Fontawesome module is _not_ being enabled by default - it should go the localgov_paragraphs module, but rather than putting it in the `config/install` directory it should go in `config/optional` - you will have to create this directory.

[2020-09-29 11:54] cjstevens78 opened #86 "Directories - Fix select appearing within its label in the search block"
In the 'Search' area there is an optional drop down `<select>` field. This is being output inside the `<label>` for the fieldset and causing a layout issue. It needs to be moved immediately outside the `<label>` so we have '<label></label> <select></select>`

[2020-09-29 11:59] cjstevens78 opened #87 "Directories - The Address of a Venue should be output in its own block rather than as a part of the map."
Currently the 'address' of a venue is being output to the page as part of the map block which makes styling it and spacing it out awkward. Can the address be its own block like the 'opening times' ?

[2020-09-29 12:03] cjstevens78 opened #88 "Directories - Missing page elements"
On the croydon site we have the following elements that don’t appear on the Localgov version:

Reset facets

Missing text ‘Displaying x - x of x results’

‘Hide Map’ and ‘Reset Map’ options

[2020-09-29 13:50] cjstevens78 commented on #77
I think this is an important point as I have just run into this myself with [localgov_theme_croydon](https://github.com/localgovdrupal/localgov_theme_croydon).

As an example, I have made some amends to the directory facet display within the base [localgov_theme](https://github.com/localgovdrupal/localgov_theme). These changes are **not seen** in [localgov_theme_croydon](https://github.com/localgo

[2020-09-29 15:35] cjstevens78 commented on #85
Changes for this ticket are ready here https://github.com/localgovdrupal/localgov_theme/pull/89

[2020-09-29 16:55] Adnan-cds opened #90 "Load CSS into WYSIWYG"
We can easily load the CSS of the localgov_theme into the WYSIWYG to get a [true WYSIWYG experience](https://thinkshout.com/blog/2017/08/the-wysiwyg-is-a-lie/).

The following code snippet, when added to the localgov_theme.info.yml file, so do the job:
[code]
We may not need to include the [Source Sans Pro font](https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i) here.  This

[2020-10-01 14:45] andybroomfield commented on #77
@cjstevens78 Its possible to keep the localgov_styles, just remove the following from the child theme.info
[code]
However since the assets folder is copied to the theme, the new styles may (in fact almost certianlly will unless they are unique) override any change in the parent anyway.

How do we picture other councils picking up localgov_theme and making their own? Would they just want to change

[2020-10-06 13:36] #85 closed

[2020-10-06 15:26] cjstevens78 commented on #79
PR raised for this https://github.com/localgovdrupal/localgov_theme/pull/93

[2020-10-06 16:01] cjstevens78 commented on #80
merged

[2020-10-06 16:01] #80 closed

[2020-10-06 20:04] cjstevens78 commented on #79
merged

[2020-10-06 20:04] #79 closed

[2020-10-12 16:50] andybroomfield opened #94 "Replace the hard coded header with drupal main menu"
Currently the menu (option 1 etc) is hard coded, this should either be a region for the menu block, or render the menu directly.

See #61

<img width="1247" alt="Screenshot 2020-10-12 at 5 47 42 pm" src="https://user-images.githubusercontent.com/1467480/95771715-6cdc7a80-0cb3-11eb-9441-1c5f2f047d48.png">

[2020-10-12 16:55] andybroomfield opened #95 "The logo should use Drupals logo feature"
Currently this is a fixed place holder image (used to be a logo).

How its handled at BHCC
`<img class="img-fluid" src="{{ logopath }}" alt="Home Brighton and Hove City Council" />`

See #61

<img width="1247" alt="Screenshot 2020-10-12 at 5 47 42 pm" src="https://user-images.githubusercontent.com/1467480/95771766-85e52b80-0cb3-11eb-98ea-4bcb517e089f.png">

[2020-10-12 17:00] andybroomfield opened #96 "Change the Footer elements to custom blocks"
The footer elements are currently hard coded in `templates/system/footer.html.twig`

These need to be converted to blocks and render as a footer region.
Would we want to set up special block types (and add them to localgov_core) or just use standard block?

We should render the footer region here, and apply the correct bootstrap markup so that footer region blocks are lined up as now.

See #61

<i

[2020-10-12 17:01] andybroomfield commented on #61
Have added three seperate issues for these. Hopefully that matches what is on your card.

[2020-10-12 17:12] cjstevens78 commented on #95
Hi @andybroomfield I left the code in the page commented out for future use in header.html.twig: `
      <a class="navbar-brand" href="/" title="LocalGov homepage">

        <img class="img-fluid" src="https://place-hold.it/180x100&fontsize=23" alt="LocalGov Logo" />
      </a>`

[2020-10-12 17:15] andybroomfield commented on #95
Thanks @cjstevens78 just flagging these up either for work or if anyone wants to take this on.

[2020-10-13 14:08] paulpopus commented on #90
The only issue with loading the main.css is that you're loading the entire stylesheet for the frontend, which will probably be cached however for each iframe (each rich text editor on the page) your browser will need to process that stylesheet. On a large project and a slow computer this can make the initialisation of each rich text editor take a lot longer.

If possible it'd be good if the font s

[2020-10-15 11:56] andybroomfield commented on #94
See how croydon are doing it in https://github.com/localgovdrupal/localgov_theme_croydon/blob/master/templates/system/header.html.twig

Is this the best replication statergey?

For the base theme, maybe primary menu is across the top only?

[2020-10-15 15:48] paulpopus opened #98 "Improvements to Gulpfile.js functions and plugins"
Opening this ticket to record some improvements to the gulpfile.js and general use of gulp and some of the plugins:

* Move to gulp 4 as per issue https://github.com/localgovdrupal/localgov_theme/issues/38

* Move all css plugins to use the PostCSS plugin where possible

   * It's become standard that plugins like autoprefixer are handled by PostCSS

* Split the tasks from the functions so its eas

[2020-10-15 21:16] andybroomfield opened #100 "Fix failing tests"
Tests are currently failing due to composer install conflicts.
[code]

[2020-10-20 11:19] paulpopus commented on #98
Merged in improvements, will review unused modules later.

[2020-10-20 11:19] #98 closed

[2020-10-20 13:13] finnlewis commented on #78
Sounds like @cjstevens78 is working on this

[2020-10-20 13:15] #38 closed

[2020-10-20 13:17] stephen-cox commented on #100
@paulpopus This is the file that needs to be replaced in the GitHub Actions: https://github.com/localgovdrupal/.github/blob/master/workflow-templates/localgov-drupal-ci.yml

[2020-10-20 13:42] paulpopus commented on #100
I'm working on this PR https://github.com/localgovdrupal/localgov_theme/pull/103

[2020-10-20 14:36] paulpopus commented on #100
Tests should now be working

[2020-10-20 14:36] #100 closed

[2020-10-20 15:04] paulpopus commented on #90
I suggest we use a specific stylesheet like `ck_style.scss` and in that you can include all the components and partials that you want and it will get generated to a separate css file that you can include in the ckeditor. I'll open a PR with this and give it a go.

[2020-10-20 15:05] paulpopus opened #104 "Automated tests for the theme"
We can write some tests using Mocha.js that will test that the theme runs as expected. First issue is to make sure it compiles but other suggestions are welcome.

EDIT:

Going to open a PR early so others can try the mocha tests.

Copying in @finnlewis @Adnan-cds @stephen-cox @cjstevens78

**Branch**
`feature/automated-theme-tests`

**Usage**
`npm install` the new packages then try running `npm ru

[2020-10-20 15:07] Adnan-cds commented on #90
Thanks Paul :)

FAO @paulpopus @cjstevens78

[2020-10-20 15:50] paulpopus opened #106 "Compiling and managing icons"
In some themes you have a source folder for svgs that then get compiled and managed through sprites which can make it a lot easier for the developer and has caching improvements.

I'm happy to implement this, as I've done it before, is this a requirement?

@finnlewis @Adnan-cds @cjstevens78

[2020-10-20 15:57] cjstevens78 commented on #106
Hi @paulpopus the site uses font awesome for icons - I don't think we keep anything locally that would benefit from this.

[2020-10-20 16:16] paulpopus commented on #106
Ok I'll close this and somebody can re-open if/when it becomes a requirement. Cheers!

[2020-10-20 16:16] #106 closed

[2020-10-20 20:09] finnlewis commented on #106
Thanks @paulpopus @cjstevens78 ! Good to know.

[2020-10-20 23:19] #95 closed

[2020-10-21 14:21] cjstevens78 opened #108 "Linting issue after upgrade to Gulp 4"
When I run 'gulp dev' its linting a file that doesn't exist 'assets/scss/lib/main.css'

![image](https://user-images.githubusercontent.com/11304107/96733080-f590a000-13b0-11eb-88c5-8e0a58b45023.png)

[2020-10-21 16:29] paulpopus opened #109 "Sourcemap URLs are not pointing to the correct file"
Sourcemap URLs found in CSS are not pointing to the correct file it's coming from in `assets/scss/`

[2020-10-21 16:37] paulpopus commented on #108
https://github.com/localgovdrupal/localgov_theme/pull/110 Should fix this by running the linter before SASS, which is why the files here are `.css` and not `.scss`.

[2020-10-21 16:38] #108 closed

[2020-10-21 16:38] #109 closed

[2020-10-21 21:00] cjstevens78 opened #111 "Stylelint - linting rules and fixes related to flagged lint issues"
Style lint is now chucking out a large volume of issues, some need addressing some adding to the ignore list.

[2020-10-21 22:50] andybroomfield commented on #111
In Drupal / Lando we can use phpcs / phix to resolve these. Is there a similar front end tool?

[2020-10-22 09:56] cjstevens78 commented on #111
PR for this https://github.com/localgovdrupal/localgov_theme/pull/113

@andybroomfield it was was related to stylelint automatically using linting rules it wasnt using previously. Ive updated accordingly.

[2020-10-22 11:50] #111 closed

[2020-10-22 15:55] cjstevens78 opened #115 "Favicon set - Croydon branded"
I have just noticed that the favicon set in localgov_theme  'assets/img/favicon' is the one from Croydon. I don't have anything to replace these with, perhaps we could get something generic put together.

[2020-10-22 16:05] #94 closed

[2020-10-23 10:03] cjstevens78 opened #116 "Move generic layout fixes from croydon theme to localgov theme"
I added some layout fixes to the croydon theme before making the localgov theme a dependency. I have now moved them to localgov theme.

[2020-10-23 14:29] cjstevens78 commented on #116
pr for this https://github.com/localgovdrupal/localgov_theme/pull/117

[2020-10-23 14:31] cjstevens78 commented on #78
PR for this https://github.com/localgovdrupal/localgov_theme/pull/114

[2020-10-26 13:25] #90 closed

[2020-10-26 13:26] #104 closed

[2020-10-26 16:21] paulpopus commented on #116
I'll close as this has been merged!

[2020-10-26 16:21] #116 closed

[2020-10-26 16:36] paulpopus opened #119 "Admin tools in the frontend"
I've opened this issue to discuss what the plan is around the admin tools we support in the frontend. This involves things like the view-edit-delete menu bar, masquerade and any other editor/admin specific tools that appear when viewing the site when logged in only.

In my experience in the past it was always a pain when dealing with issues in difference between markup and styling for the admin si

[2020-10-26 16:43] #96 closed

[2020-10-26 16:49] paulpopus commented on #84
Is this still an issue with the latest layout fixes? I haven't managed to reproduce it.

Here is a screenshot of the first sidebar with no content.
![Screenshot from 2020-10-26 16-45-30](https://user-images.githubusercontent.com/35137243/97202162-29056d00-17ab-11eb-88ae-06ab381a573d.png)

And here is a screenshot of both sidebars and no content.
![Screenshot from 2020-10-26 16-48-34](https://user-

[2020-10-26 16:50] #115 closed

[2020-10-26 17:00] paulpopus commented on #11
Looks like this has been solved in the public version of the repo: https://github.com/localgovdrupal/localgov_services/blob/master/modules/localgov_services_landing/localgov_services_landing.module

[2020-10-26 17:00] #11 closed

[2020-10-26 17:07] paulpopus commented on #32
Closing issue as this has been resolved!

[2020-10-26 17:07] #32 closed

[2020-10-26 17:21] paulpopus opened #120 "Move Drupal Unit tests to PRs going into production only"
I propose that we move the automated Drupal unit tests from every PR to PRs that merge into production only. This is because they take way too long and are not always directly related to the theme.

The [last one](https://github.com/localgovdrupal/localgov_theme/runs/1309945172?check_suite_focus=true) that ran took 41.31 minutes to complete and sometimes that's way too long depending on the fix.

[2020-10-26 22:18] andybroomfield commented on #119
Think first priority is to fix the markup so we actually support these tools.
Hopefully our default theme and the templates included with our modules do this now (The current BHCC site does not).

[2020-10-28 20:45] finnlewis commented on #120
Interesting.
Maybe now that they will be running quicker, this will help.
One option is that we only run the automated tests on merged to the release branch prior to tagging a release, as you suggest @paulpopus - but there were 60 commits in that last merge request so if tests do fail at that point, how much time would that take to unpick?
My instinct is that actually it is safer to keep the 'pass

[2020-10-28 20:48] finnlewis commented on #119
Interesting ideas - I'll have to come back to this and test a little to help me think about it.

[2020-10-30 16:33] Adnan-cds commented on #120
I agree.  Not everyone runs tests in their development machines.  So we can't guarantee that an incoming PR will pass all the tests.  However, we can consider adding a [skip-ci type tag](https://circleci.com/docs/2.0/skip-build/#skipping-a-build) to commit messages if we want to avoid a long test run for some reason.

[2020-11-02 10:30] paulpopus commented on #120
I'll close this now given that we've sped up the tests. Thanks for skip-ci tag, will be useful for non code changes.

[2020-11-02 10:30] #120 closed

[2020-11-02 11:28] Adnan-cds commented on #120
Sorry, I have not been clear enough :( we haven't actually implemented it, so I was just proposing perhaps we can do so. Thankfully, many other people have shared their Github actions code for this which should make it easy to implement.  Two examples:
- https://timheuer.com/blog/skipping-ci-github-actions-workflows/
- https://gist.github.com/ybiquitous/c80f15c18319c63cae8447a3be341267

[2020-11-02 15:22] cjstevens78 opened #122 "Revert base button style (.btn)"
Previously, I noticed buttons were coming out without styling so added some base settings to the .btn class. Turns out those un-styled buttons didn't have their style modifier class applied - it must have vanished during migration. This is now causing problems in the Croydon theme and im having to set inappropriate overrides. The correct approach to styling buttons is to use .btn to declare it is

[2020-11-02 16:17] #122 closed

[2020-11-04 21:40] cjstevens78 opened #124 "Feeding back changes into localgov_theme as the localgov_croydon theme work progresses"
- Set base header sizes to custom size rather than bootstrap calc setting
- Finesse the .btn class inc remove unwanted inherited bootstrap attributes and take off rounded corners
- Guides navigation alignment of arrow icon
- Service pages allow for use of h3 or h2 headers
- Bigger gap below the breadcrumb

[2020-11-05 16:35] paulpopus commented on #119
I have some free time and could look at this as part of a more isolated piece of work, let me know what you think @finnlewis

[2020-11-05 17:42] finnlewis commented on #119
Yes - let's make some headway - we needed to add a few things to Lambeth, like masquerade and responsive_preview.

Not sure about the local tasks in a separate region. That could mess with other things and they are sometimes used for things other than view / edit / delete. Can't think of an example off the top of my head.... oh login / reset password for example: https://beta.lambeth.gov.uk/user/l

[2020-11-05 18:07] paulpopus commented on #119
Yeah for logins it will be different, it may or may not be an issue depending on who log ins. It's not entirely breaking the page just kind of weird. We can make exceptions per that page if it's important.

However I found that it makes a huge difference when theming as it's a lot easier to deal with varying layouts on different pages, sometimes the UX can suffer as you constantly try to fix those

[2020-11-06 14:20] cjstevens78 commented on #78
This is done - closing

[2020-11-06 14:20] #78 closed

[2020-11-06 14:21] cjstevens78 commented on #70
This is done - closing

[2020-11-06 14:21] cjstevens78 commented on #64
This is done - closing

[2020-11-06 14:21] #64 closed

[2020-11-06 14:22] #55 closed

[2020-11-06 14:32] cjstevens78 commented on #84
hi @paulpopus - this issue is related to the fact that in some instances we'd like to have the 4-col sidebar block showing on the page, despite it having no content, purely for aesthetic reasons. This is to stop page paragraph copy stretching across the full 12 cols and becoming hard to read. see screenshots.

example page here https://croydon.localgov.agile.coop/adult-health-and-social-care/payin

[2020-11-09 08:20] stephen-cox commented on #70
This is still a problem with new installs. Re-opening and assigning to me.

[2020-11-10 23:15] finnlewis opened #128 "Extend theme to accomodate localgov_subsites"
I've created a new repo localgov_subsites, which both renames the localgov_campaigns and extends with more flexible banners and child pages, functionality coming from the Lambeth Council implementation.

We will need to do some theme work to allow this work to be visible on a default install.

I'll add some screenshots and

The install now works and can be tested from https://github.com/localgovdr

[2020-11-11 12:29] cjstevens78 opened #129 "Change breakpoint for main content cols"
The containers for main content and sidebars are using the 'sm' breakpoint where 'md' is more appropriate.

[2020-11-11 12:32] cjstevens78 commented on #129
PR: https://github.com/localgovdrupal/localgov_theme/pull/130

[2020-11-11 14:15] #129 closed

[2020-11-11 14:26] paulpopus opened #131 "Managing Javascript within the theme"
Opening this issue to start discussion around what expectations people have for javascript in this theme. Currently we do _nothing_ with the files which is probably not ideal, the minimum I imagine would be eslint to a standard (Drupal/airbnb standard?) and some consistency around expectations.

We would need to move the existing scripts into a separate source folder and update Gulp to process the

[2020-11-12 09:00] andybroomfield opened #132 "WSOD when viewing revisions"
`Call to a member function bundle() on string in localgov_theme_theme_suggestions_alter()`

This happens when viewing a revision of a node.
### Steps to reproduce.
1. Go to an existing node.
2. Create a new revision.
3. Go to the revisions tab
4. Click the previous revision.

### What should happen
Preview page of the old revision

### What actually happens
WSOD with error message.

Debugging foun

[2020-11-20 09:56] andybroomfield opened #134 "Contrast on mega menu during hover state"
The colour contrast needs improving on the hover state (on at least the mega menu)

<img width="1241" alt="Screenshot 2020-11-20 at 9 55 24 am" src="https://user-images.githubusercontent.com/1467480/99786670-adcb7880-2b16-11eb-9255-1fe83ef4c56b.png">

[2020-11-23 16:19] iam-jam opened #135 "Drupal message styles"
The Drupal alert message isn't very obvious.

<img width="1348" alt="localgov-drupal-message" src="https://user-images.githubusercontent.com/11015602/99986726-74f60280-2da7-11eb-9f50-b70fee7e566b.png">

[2020-11-27 15:34] cjstevens78 opened #136 "Disable css aggregation on font-face.css"
We recently identified a problem on Croydon with custom fonts not working once the site is deployed. This was fixed by disabling css aggregation on font-face.css - this change should be replicated back to the base theme ... more info here: https://github.com/localgovdrupal/localgov_theme_croydon/pull/17

[2020-12-04 13:06] cjstevens78 opened #137 "Change the BS breakpoint on Step by Step pages to 'md'"
Between 576 and 728 the step by step menu should fill the page width - change : `<div id="sidebar-second" class="column sidebar col-sm-4">` to `<div id="sidebar-second" class="column sidebar col-md-4">`

[2020-12-04 13:17] cjstevens78 commented on #137
PR for this: https://github.com/localgovdrupal/localgov_theme/pulls

[2020-12-04 13:23] cjstevens78 commented on #136
PR for this here: https://github.com/localgovdrupal/localgov_theme/pull/139

[2020-12-04 13:48] andybroomfield commented on #136
Whats the issue with the CSS agregation? Could be better to make sure its included first and a dependency for the theme styles rather that removing aggregation altogether?

[2020-12-04 14:55] cjstevens78 commented on #136
@Adnan-cds can you take a look at Andy's comment above plz thanks

[2020-12-04 15:16] Adnan-cds commented on #136
Hi Andy,
When we use a font file **bundled** with the theme, the built-in CSS aggregation breaks the font path (e.g /foo/bar/baz-font.woff2).  This doesn't happen when fonts are fetched from a URL (e.g. https://example.net/baz-font.woff2).  This is a [known issue](https://drupal.stackexchange.com/questions/123520/font-your-face-dont-work-when-aggregate-and-compress-css-files-is-enabled).

[2020-12-04 15:22] andybroomfield commented on #136
I've just done some testings, and it looks like the issue is actully limited to only the svg font, removing that makes it work with aggregation.
[code]

The SVG fonts themselves have references to `Open Sans` which might not be the correct font.
[code]
and
[code]
These are for targeting really old versions of iOS. I Think most will have updated by now and thats safe to remove?

[2020-12-04 15:33] Adnan-cds commented on #136
Thanks Andy,
I can see space characters in the font path where it says "...Open Sans Bold".  This is [also known](https://www.drupal.org/project/fontyourface/issues/2303335#comment-11917647) to have caused problem.  Replacing the spaces with dashes seem to work even when the font-face declaration file is aggregated.  So looks like that's the root cause.

[2020-12-04 15:38] Adnan-cds commented on #136
Thanks Andy,
I can see space characters in the font path where it says "...Open Sans Bold".  This is [also known](https://www.drupal.org/project/fontyourface/issues/2303335#comment-11917647) to have caused problem.  Replacing the spaces with dashes seem to work even when the font-face declaration file is aggregated.  So looks like that's the root cause.   This, we have totally missed.

Chris, look

[2020-12-15 11:26] Adnan-cds opened #142 "Contact card styling"
The **Contact** Page component is currently not styled.

For an example of how this should appear when styled, please look for the *Corporate Commissioning and Procurement team*'s Contact details at the bottom of [this page](https://new.croydon.gov.uk/business-licences-and-tenders/procurement-tenders-and-contracts/procurement-guidance-and-regulations).

FAO @cjstevens78 @finnlewis @willguv

[2021-01-14 11:53] Adnan-cds commented on #136
Copying @cjstevens78

[2021-01-14 12:10] cjstevens78 commented on #136
Thanks @andybroomfield - i've removed the SVG's from the Croydon theme and it has fixed the issue there. I'll close this now and raise a new PR for removing the SVGs from the localgov theme. @Adnan-cds

[2021-01-14 12:14] Adnan-cds commented on #136
Ah.. actually, the problem is the space characters in the [font names](https://github.com/localgovdrupal/localgov_theme/blob/528f089a3ac707a0a9c1bca5a72ec0c47f5ef664/assets/scss/font-face.scss#L12) (e.g. "Open sans regular") rather than the file format of the font file.  If we can replace spaces with dashes in the font name, I think we should be okay.

[2021-01-14 12:16] cjstevens78 opened #144 "Remove SVG font fallback from font face sass due to aggregation issue they cause and obsolescence of what they seek to resolve"
this is related to this ticket: https://github.com/localgovdrupal/localgov_theme/issues/136

[2021-01-14 12:27] cjstevens78 commented on #144
PR here: https://github.com/localgovdrupal/localgov_theme/pull/145

[2021-01-14 12:29] cjstevens78 commented on #136
@Adnan-cds I went with Andy's suggestion above to remove altogether:

[2021-01-14 12:31] Adnan-cds commented on #136
Got it.  Thanks.

[2021-01-14 12:31] #136 closed

[2021-01-22 14:28] #144 closed

[2021-01-28 11:29] cjstevens78 opened #146 "Contain 'Skip to Main' link within a Landmark"
During a recent accessibility review on Croydon via the AXE auditor - it was flagged that the 'Skip to Main' link should be contained within a landmark. As this change would benefit the localgov theme im adding the change here instead of within the Croydon theme.

[2021-01-28 11:38] cjstevens78 commented on #146
PR: https://github.com/localgovdrupal/localgov_theme/pull/147

[2021-02-10 10:46] danchamp opened #149 "Skip to main content link bypasses important content"
The "Skip to main content" link currently targets an empty `<a>` element which is the first child of the `<main>` element:  [page.html.twig](https://github.com/localgovdrupal/localgov_theme/blob/fdcdc6701855aafe0c4b62f618b8995b7a331971/templates/system/page.html.twig#L123)

Taking this service page as an example: https://localgovdrupal.agile.coop/rubbish-and-recycling

Using the skip link moves th

[2021-02-10 11:37] danchamp opened #150 "Invalid id for aria-controls for show/hide mobile nav"
Mobile nav toggle has aria-controls attribute referencing element with non-existent id `navbarNavAltMarkup`:

https://github.com/localgovdrupal/localgov_theme/blob/fdcdc6701855aafe0c4b62f618b8995b7a331971/templates/system/header.html.twig#L14

The correct id is `mobileToggle`.

[2021-02-10 13:59] #150 closed

[2021-02-10 22:49] andybroomfield opened #152 "Replace renamed field names in theme files."
Related to:
- localgovdrupal/localgov#112
- localgovdrupal/localgov_core#37
- localgovdrupal/localgov_services#91

Search and replace the references to renamed fields in the theme.

[2021-02-17 16:07] paulpopus opened #154 "Update and split Github workflow files"
Update the github workflow file to the latest and split the mocha tests into a separate workflow.

[2021-02-25 16:54] paulpopus commented on #131
Closing this as we discussed long before now that the current way is fine, will revisit if requirements change.

[2021-02-25 16:54] #131 closed

[2021-03-02 15:17] Adnan-cds opened #156 "Update npm packages based on the Dependabot alert"
The weekly Dependabot alerts have been patiently pointing out the npm packages that have security updates available.  We are not using these packages in the backend.   So as discussed in Standup already, these vulnerabilities are less severe for us.  But should be actioned at some point just in case.

@cjstevens78 @finnlewis @paulpopus @willguv

[2021-03-02 15:20] paulpopus commented on #156
I don't have "admin" or the right permissions on this repo like I do on the docs repo, so I can't see the alerts. Usually I'm on top of them. Happy to take a look if you or someone else can give me the perms, the bot usually opens a PR for you! @Adnan-cds

[2021-03-02 15:27] Adnan-cds commented on #156
Ah... I always thought you have write access to this repo.  Done now. @paulpopus

[2021-03-02 15:33] paulpopus commented on #156
@Adnan-cds I still don't see the dependabot alerts under the Security tab like I do in the docs repo. Unless I'm not meant to?

[2021-03-02 15:51] Adnan-cds commented on #156
You are right.  Just having write access doesn't activate the Dependabot alerts.  I have had to explicitly add you to the list of people and teams who will get these alerts. @paulpopus

[2021-03-02 15:55] paulpopus commented on #156
Thanks I'll get on them!

[2021-03-02 15:56] Adnan-cds commented on #156
Thanks Paul :)  Please do assign this issue to yourself when you are ready. @paulpopus

[2021-03-03 15:53] paulpopus commented on #156
Hi @Adnan-cds
So I've solved some of the security issues, some outstanding things.
[PR](https://github.com/localgovdrupal/localgov_theme/pull/158) for you or someone to review, I've removed `gulp-notify` `gulp-plumber` and `gulp-version-append` because they were unused modules, some which now used deprecated dependencies and removed them from the Gulpfile (their functionality was not used). I need

[2021-03-03 16:04] paulpopus commented on #132
Has this been resolved? I couldn't replicate it on a fresh install.

[2021-03-04 10:29] Adnan-cds commented on #132
Nah.  I have some code that avoids this in the Croydon codebase, but there is a simpler solution which Andy has hinted above.  But I haven't got to that yet.

[2021-03-04 11:03] paulpopus commented on #132
@Adnan-cds I can have a look if you can let me know how to replicate it

[2021-03-04 15:02] paulpopus commented on #137
Closing this as it looks to be fixed in the PR!

[2021-03-04 15:02] #137 closed

[2021-03-04 15:20] paulpopus commented on #35
If someone from Croydon can chime in on this, I'm happy to remove the PDFs which aren't that accessible anyway and merge any info into the Docs.
@andybroomfield @Adnan-cds ?

[2021-03-04 15:31] Adnan-cds commented on #35
Copying @cjstevens78

[2021-03-05 16:30] Adnan-cds commented on #132
Sorry Paul, I don't have anything more to add to Andy's reproduction steps :(  I know that the PHP exception comes from [localgov_theme_theme_suggestions_alter()](https://github.com/localgovdrupal/localgov_theme/blob/1176e240aee6dd20b16a381d5e928f0fa1198123/localgov_theme.theme#L141) when it tries to determine the node bundle assuming that ```$node``` is a node object.  This is true most of time b

[2021-03-05 16:40] Adnan-cds commented on #156
That'll do.  Thanks :)

[2021-03-05 16:42] Adnan-cds commented on #156
Let's wait for next weeks Dependabot report before closing this ticket.

[2021-03-05 19:01] andybroomfield commented on #132
@paulpopus try enabling localgov_demo to get some demo content and then create a new revision.
Now trying to view the old revision will demonstrate the error.

[2021-03-08 15:47] paulpopus opened #161 "Stylelint deprecated unit whitelist"
Lots of these errors have been popping up.

[code]

Also solve remaining stylelint notices:
[code]

[2021-03-08 16:32] paulpopus opened #162 "Theme compile error"
When trying to compile the theme there is a SASS error

[code]

This is because we're overwriting a variable that needs to be a string.

This also means that the health check tests that run the compilation don't correctly handle errors.

[2021-03-09 10:57] #135 closed

[2021-03-09 12:34] paulpopus commented on #149
Another issue that I see with the current structure of it is that our main has a section with no H1 usually. So the page template looks something like this
[code]
Which I don't think is strictly wrong, maybe just confusing but coupled with the skip to content issue of skipping the page title altogether we can probably move the main up to encompass the page title and the other blocks (such as admin

[2021-03-09 15:32] #161 closed

[2021-03-11 13:56] #162 closed

[2021-03-15 11:01] cjstevens78 opened #167 "Remove duplicate <header> landmark incorrectly used in page content title area"
A recent accessibility audit flagged the duplicate usage of a `<header>` landmark for the title area on a content page. We already have `<header>`set on every page with the site logo and nav. This change is to remove the duplicate `<header>` and replace with a `<div>`. There's a small styling change associated with this to style the subtitle area `<p>`

[2021-03-16 10:44] cjstevens78 commented on #167
see PR https://github.com/localgovdrupal/localgov_theme/pull/168

[2021-03-16 10:45] #167 closed

[2021-03-16 14:19] paulpopus commented on #156
I think it's good to close now, I'll get on any alerts if they come up.

[2021-03-16 14:19] #156 closed

[2021-03-22 10:12] danchamp opened #169 "News styling"
Add styling for localgov_news:

- Newsroom landing page
- News article

[2021-03-22 14:13] danchamp opened #170 "Add fr to allowed units"
The linting config doesn't currently allow fr as a CSS unit:

https://github.com/localgovdrupal/localgov_theme/blob/f1cd33c504ee9092fdfa632952643a7ff0ccc9d4/.stylelintrc#L36

The [fr unit](https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout#the_fr_unit) is really useful for flexible / responsive CSS grid layouts and it would be good to have it available t

[2021-03-22 14:34] paulpopus commented on #170
I think it got left out by chance, happy to add it as it makes sense!

[2021-03-22 16:01] danchamp commented on #170
Thanks @paulpopus!

[2021-03-22 16:04] cjstevens78 commented on #170
no concerns here

[2021-03-22 16:20] #170 closed

[2021-03-30 12:22] paulpopus commented on #119
Closing this as it's gotten stale and is not a problem right now as the admin blocks are styled.

![Screenshot from 2021-03-30 13-22-04](https://user-images.githubusercontent.com/35137243/112987749-f6e1a800-915a-11eb-9d45-4c8af79137eb.png)

[2021-03-30 12:22] #119 closed

[2021-04-06 19:01] #152 closed

[2021-04-15 18:01] danchamp opened #175 "HTML validation: submit button duplicate type attribute"
`type="submit"` in this button template is redundant and results in a duplicate type attribute, causing HTML validation errors:

https://github.com/localgovdrupal/localgov_theme/blob/f7b6b29516a8c4d5767d6f82c8c3e3b147cc948c/templates/form_element/input--submit.html.twig#L14

Example output from [Croydon site directories](https://www.croydon.gov.uk/schools-and-education/schools/find-school-near-you

[2021-04-16 07:36] #175 closed

[2021-04-22 12:00] Adnan-cds opened #177 "Media document file link formatting"
Media documents currently use the **[Generic file](https://github.com/localgovdrupal/localgov_core/blob/b815c0a3d535edd489cf45ad2e70e7dc25a1eb2c/modules/localgov_media/config/optional/core.entity_view_display.media.document.default.yml#L18)** field formatter which uses a file icon (e.g. a PDF icon) to denote the file type.  These links are also rendered as block items within an **article** tag (e.

[2021-04-22 13:07] danchamp commented on #177
Thanks @Adnan-cds, looks good.

For accessibility the file type and size should be included in the anchor text, otherwise screenreaders and other assistive techs will not announce the information to many users who navigate by link or access a list of links on a page.

[2021-04-22 17:55] Adnan-cds commented on #177
Hi Dan, I am not sure about including file *metadata* as part of the file link.  Neither the [Croydon design system](https://lbc-cdn-corpwebsite-p2.azureedge.net/design-and-content-guidelines/patterns/links-and-downloads/downloads) nor [examples in gov.uk](https://www.gov.uk/government/publications/disclosable-overriding-interests-di) include metadata in the anchor text.  Is there any other way we

[2021-04-23 07:36] danchamp commented on #177
There are also authorities recommending the inclusion of this information in visible link text: [NHS](https://service-manual.nhs.uk/content/links), [NZ Gov](https://www.digital.govt.nz/standards-and-guidance/design-and-ux/usability/linking-to-non-html-files/), [Queensland Gov](https://www.forgov.qld.gov.au/cue-module6-checkpoint6-file-types-and-sizes-links), [WebAIM](https://webaim.org/techniques/

[2021-04-23 09:35] Adnan-cds commented on #177
Thanks Dan.  The evidence looks definitive.  I will see what can be done about it.

[2021-04-28 10:49] Adnan-cds commented on #177
Hello Dan,
People here at Croydon have agreed to your suggestion.  The subsequent code change was trivial.  But I am keen to preserve the semantic markup of the file meta data.  I was thinking of using markup like the following where the file metadata markup becomes part of the link:

[code]

Do you see any issue with this?

[2021-04-28 10:58] danchamp commented on #177
I think that's ideal Adnan, thanks. It gives the flexibility of presenting the metadata (and each element of the metadata) differently if required.

[2021-04-28 14:27] ekes opened #178 "Tag 1.0.0"
As per localgovdrupal/localgov#194 localgovdrupal/localgov#200

PR - dependabot #173; #159 also looks ready and possibly sever?
Issues - #132 stands out.

Questions:
 * What is the situation for `localgov_theme` as we are going forward changing to a different base?
 * It's in production? And extended by production sites? Just tag as is, and deprecate soon?

[2021-04-30 14:20] #132 closed

[2021-05-05 08:40] andybroomfield opened #181 "Alter CSS to match new markup in Alert Banner 1.0.0"
Alert banner class has changed to `.localgov-alert-banner` so css needs to be updated.
See https://github.com/localgovdrupal/localgov_alert_banner/pull/123

[2021-05-05 15:35] ekes commented on #178
#183 includes mentioned #173 #159 #132 so can tag when merged.

[2021-05-05 16:32] #181 closed

[2021-05-06 10:35] ekes commented on #178
https://github.com/localgovdrupal/localgov_theme/releases/tag/1.0.0

[2021-05-06 10:35] #178 closed

[2021-06-09 10:43] #70 closed

[2021-06-22 11:45] markconroy commented on #149
You can see what I have done to solve this here:
https://github.com/localgovdrupal/localgov_base/issues/23

[2021-08-12 15:23] danchamp commented on #169
Closing - superceded by localgov_base theme.

[2021-08-12 15:23] #169 closed

[2021-08-12 15:24] #149 closed

[2021-10-12 11:59] stephen-cox commented on #35
I'm closing this as it's no longer relevant.

[2021-10-12 11:59] #35 closed

[2021-12-08 16:18] tom-steel opened #200 "Directory areas should pick up colours from base theme pallet"
When a directory item has an area, the outline of the area is a light blue colour, which is not in use anywhere else on the site.

Can the styling pick up a colour and tint from an existing colour that's already been defined in the theme

Example URL https://demo.localgovdrupal.org/national-parks-uk?f%5B0%5D=localgov_directories_facets%3A8
Example screenshot
![image](https://user-images.githubuser

[2022-02-03 12:49] finnlewis opened #202 "Update README to explain localgov_base"
Now that we are mainly focussing on localgov_base, we shoud explain this in the README here.

Probably need to

- [x] Update the README.md to say something like "This theme is deprecated. It won't be further updated."
- [x] Add lifecycle key to the info.yml file. See https://www.drupal.org/node/3215042

[2022-04-12 10:47] stephen-cox opened #206 "Fix code depreactions for phpstan 1.x (required for PHP 8.1)"
We need to upgrade phpstan to 1.x for PHP 8.1. This highlights the following issues:

[code]

[2022-04-14 15:39] andybroomfield commented on #202
Just to confirm this theme is deprecated now? So we can action this.

[2022-04-21 12:39] stephen-cox opened #208 "Remove testing against supported LocalGov Drupal 1.x branch"
Tests on the LGD 1.x branch are failing (e.g. https://github.com/localgovdrupal/localgov_theme/runs/6112016069), but we no longer support this as it's Drupal 8 only.

We should not be testing against this branch.

[2022-04-25 13:10] #208 closed, assigned to nobody

[2022-04-25 13:47] finnlewis commented on #202
Note: we should also disable dependabot alerts for this project.

[2022-04-25 13:51] #206 closed, assigned to nobody

[2022-04-25 15:26] finnlewis commented on #202
@cjstevens78 @Adnan-cds @MattOz-CDS I've updated the README to highlight that this theme is no longer maintained or recommended. I hope that's not controversial at all but let me know if we need to say anything else in the README.

I'll also look at adding the lifecycle key to the info.yml file ( https://www.drupal.org/node/3215042 )

[2022-04-26 16:19] amoebanath opened #214 "External link highlighting vs accessibility"
https://github.com/localgovdrupal/localgov_theme/blob/364fcab72504b0c560bc5ea2bc72fe3cb51d47e7/assets/js/main.js#L29

We've had a site go through accessibility testing, and had failures because the external link icon 'is not accessible'.

This has opened up two thoughts:
1. Should this code instead be appending to the link text " (opens in a new tab)"
[GovUK stopped using the icon a few years ago]

[2022-05-03 09:54] finnlewis commented on #202
Also @cjstevens78 @Adnan-cds @MattOz-CDS this theme is triggering repeated dependabot alerts, see: https://github.com/localgovdrupal/localgov_theme/pulls?q=is%3Aopen+is%3Apr+label%3Adependencies

Are you still using this theme at all?

Should we:

1. merge PRs created by dependabot?
2. unpublish this theme completely?

[2022-05-03 10:01] cjstevens78 commented on #202
@finnlewis yes we're still using localgov_theme so option 1 for the time being - we will be off it soon - ill update when we have moved over.

[2022-05-03 14:47] Adnan-cds commented on #202
Yes, please.